*{
    color:#fff
}
p{
    font-size: 14px;
    font-weight: bolder;
}
.main-background{
    height:846px;
    width:1492px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    background-image: url('./images/background.jpg');
    background-size: cover;
}
.logo{
    height:100px;
    width: 200px;
    position: absolute;
    z-index: 12;
}
.main-container{
    border-radius:12px ;
    padding: 12px;
    box-sizing: border-box;
    backdrop-filter: blur(20px);
}
.chat-container{
    height:734px;
    width:726px;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 12px;
    overflow-y:scroll;
}
.chat-container::-webkit-scrollbar{
    display: none;
}
.sender{
    width:fit-content;
    border-bottom-left-radius: 22px;  
    border-top-right-radius: 22px;
    border-top-left-radius: 22px;
    border: 1px solid #fff;
    box-sizing: border-box;
    padding:0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:6px;
    margin-bottom: 6px;
    margin-left: auto;
    line-break: anywhere;
}
.receiver{
    width:fit-content;
    max-width: 350px;
    border-top-right-radius: 22px;  
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 22px;
    border: 1px solid #fff;
    box-sizing: border-box;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:6px;
    margin-bottom: 6px;
    margin-right: auto;
}
.reply-image{
    height:inherit;
    width:50px;
    position: relative;
    left:-20px
}
.dot-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dots-hidden{
    display: none;
}
.dot1{
    position: relative;
    animation: dot1-animation 0.3s ease-in 0s;
    animation-iteration-count: 5;

}
@keyframes dot1-animation {
    0%{top:0px;}
    50%{top:-10px} 
    100%{top:0px}
}
.dot2{
    position: relative;
    animation: dot2-animation 0.3s ease-in 0.2s;
    animation-iteration-count: 4;
}
@keyframes dot2-animation {
    0%{top:0px}
    50%{top:-10px} 
    100%{top:0px}
}
.dot3{
    position: relative;
    animation: dot3-animation 0.3s ease-in 0.4s;
    animation-iteration-count: 3;
}
@keyframes dot3-animation {
    0%{top:0px}
    50%{top:-10px} 
    100%{top:0px}
}
.dot4{
    position: relative;
    animation: dot4-animation 0.3s ease-in 0.6s;
    animation-iteration-count: 2;
}
@keyframes dot4-animation {
    0%{top:0px}
    50%{top:-10px} 
    100%{top:0px}
}
.dot5{
    position: relative;
    animation: dot5-animation 0.3s ease-in 0.8s;
    animation-iteration-count: 1;
}
@keyframes dot5-animation {
    0%{top:0px}
    50%{top:-10px} 
    100%{top:0px}
}
.reply-message-hidden{
    display: none;
}
.reply-message{
    display: block;
}
.keypad-container{
    width:auto;
    height:35px;
    position: sticky;
    top:780px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    box-sizing: border-box;
    padding: 0px 8px;
}
.keypad-input{
    width:92%;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
    padding: 0px 2px;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom-color: #fff;
    border-bottom-width:1.3px ;
    font-size: 14px;
}
.send-image, button{
    border-radius:  6px;
    border:none;
    outline: none;
    width:8%;
    height: 35px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}